# Testing SQL ETL to load data into dim and fact tables

In [1]:
%load_ext sql

In [6]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DB_NAME                = config.get("CLUSTER","DB_NAME")
DB_USER                = config.get("CLUSTER","DB_USER")
DB_PASSWORD            = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT               = config.get("CLUSTER","DB_PORT")
DWH_ENDPOINT           = config.get("CLUSTER","HOST")

In [ ]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DB_NAME)
print(conn_string)

In [10]:
%sql $conn_string

'Connected: dwhuser@dwh'

In [ ]:
%%sql
select * from stl_load_errors ;

In [35]:
%%sql
    SELECT
        (TIMESTAMP 'epoch' + ts/1000 *INTERVAL '1second') as start_time,
        se.userId as user_id,
        se.level,
        ss.song_id,
        ss.artist_Id as artist_id,
        se.sessionId as session_id,
        se.location,
        se.userAgent as user_agent
    FROM
        staging_events se
    JOIN staging_songs ss ON (se.song = ss.title AND se.artist = ss.artist_name )
    WHERE
        page = 'NextSong'

    LIMIT 2;

 * postgresql://dwhuser:***@dwhcluster.caabbvev95lv.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(datetime.datetime(2018, 11, 15, 21, 59, 51), 44, 'paid', 'SODPLYE12AB01898FB', 'ARA3I0J1187FB57869', 619, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (datetime.datetime(2018, 11, 19, 8, 32, 12), 24, 'paid', 'SOSMTXQ12A6D4F721D', 'ARS927Z1187B9ACA29', 672, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

In [26]:
%%sql
    SELECT DISTINCT
        userid as user_id,
        firstName as first_name,
        lastName as last_name,
        gender,
        level
    FROM
        staging_events se1
    WHERE userId IS NOT NULL
        AND ts = (SELECT 
                      MAX(ts) 
                  FROM 
                      staging_events se2
                  WHERE
                      se1.userId = se2.userId)
    ORDER BY se1.userId
    LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.caabbvev95lv.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free')]

In [25]:
%%sql
    SELECT DISTINCT
        song_id,
        title,
        artist_id,
        year,
        duration
    FROM
        staging_songs
    ORDER BY song_id
    LIMIT 2;

 * postgresql://dwhuser:***@dwhcluster.caabbvev95lv.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('SOAAAQN12AB01856D3', 'Campeones De La Vida', 'ARAMIDF1187FB3D8D4', 0, 153.36444),
 ('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, 343.09179)]

In [37]:
%%sql
    SELECT DISTINCT
        artist_id,
        artist_name as name,
        artist_location as location,
        artist_latitude as lattitude,
        artist_longitude as longitude
    FROM
        staging_songs
    ORDER BY artist_id
    LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.caabbvev95lv.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', '25.670839999999998', '-100.30953'),
 ('AR00JIO1187B9A5A15', 'Saigon', 'Brooklyn', '40.655070000000002', '-73.948880000000003'),
 ('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None)]

In [36]:
%%sql
    SELECT DISTINCT
        start_time,
        EXTRACT(HOUR FROM start_time) as hour,
        EXTRACT(DAY FROM start_time) as day,
        EXTRACT(MONTH FROM start_time) as month,
        EXTRACT(YEAR FROM start_time) as year,
        EXTRACT(DOW FROM start_time) as weekday
    FROM
        (SELECT distinct TIMESTAMP 'epoch' + ts/1000 *INTERVAL '1second' as start_time FROM staging_events)
    LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.caabbvev95lv.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 3, 1, 4, 33), 1, 3, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 1, 5, 23), 1, 3, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 1, 5, 50), 1, 3, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 1, 8, 36), 1, 3, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 1, 12, 26), 1, 3, 11, 2018, 6)]